@font-face {
    font-family: destain-alternative;
    src: url(fonts/destain.ttf);
}

@font-face {
    font-family: who-we-are;
    src: url(./fonts/who-we-are.ttf);
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "destain-alternative", sans-serif
}

.w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
}

.w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
}

.w3-textarea {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.w3-button:hover {
    color: #bbc4ef!important;
    background-color: #fccdd3!important
}

.royal-black {
    color:#dbc3d0;
    background: black
}
