<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div id="contact">
                <h3>Success!</h3>
                <h4>Your order was sent!</h4>
            </div>
        </div>
    </body>
</html>
